html, body {
    margin: 0;
    padding: 0;
    /*background: #181818;*/
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.dropdown {
    display: inline;
    position: fixed;
    right: 10%;
    margin-right: 0%;
    margin-top: 15px;
    text-decoration: none;
}

.drop-Button {
    background-color: #FFFFFF;
    z-index: 5;
}

.drop-Button img {
    vertical-align: middle;
    width: 20px;
    background-color: white;
}

.drop-Content {
    display: none;
    position: absolute;
    right: 0px;
    z-index: 5;
    background-color: #ffffff;
    border: 1px solid black;
}

.drop-Content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .drop-Content{display:block;}

.navbar{
    position: relative;
    background: #181818;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar-name {
    line-height: 50px;
    text-align: center;
    margin: 0;
    display: inline;
    position: relative;
    color: #ffffff;
}

.navigation {
    display: none;
}

.head-icon {
    display: block;
    width: 40%;
    height: 40%;
}

.about-me-container {
    padding: 0;
    display: block;
    text-align: center;
}

.about-me-header {
    margin-top: 20px;
    list-style: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.about-me-text {
    margin-top: 20px;
    list-style: none;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.portfolio-piece p {
    font-family: 'Roboto', sans-serif;
}

.portfolio-divider {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-top: 2px solid black;
    width:90%;
    font-family: 'Roboto', sans-serif;
}

.portfolio-piece {
    margin-left: auto;
    margin-right: auto;
    /*Centers the portfolio container*/
}

.portfolio-divider h1 {
    display: inline;
    position: relative;
    top: -.65em;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
}

.portfolio-piece h1 {
    margin: 0;
    display: block;
    text-align: center;
}

.portfolio-piece .text-container{
    margin-left: auto;
    margin-right: auto;
}

.portfolio-text {
    text-align: center;
}

.portfolio-piece img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-piece p {
    text-align: center;
}

.portfolio-piece button {
    display: block;
    margin: auto;
}

.contact h1 {
    font-family: 'Roboto', sans-serif;
}

.contact-container-desktop {
    display: none;
}

.links {
    text-align: center;
    margin-top: 10px;
}

.links a, p {
    display: inline;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.links a:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: rgb(189, 189, 189);
}

.icon-links a:hover {
    cursor: pointer;
}

.portfolio-piece header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

.jumper {
    color: white;
}

.jumper:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

@media screen and (max-width: 520px) {
    .navbar-name {
        font-size: 20px;
        left: 5%;
    }

    .burger-button img {
      display: inline-block;
      height: 35px;
    }

    .head-icon{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .about-me-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        font-size: 18px;
    }

    .portfolio-piece img {
        margin-top: 10px;
        height: 70%;
        width: 70%;
    }

    .portfolio-piece h1 {
        font-size: 26px;
    }

    .portfolio-piece p {
        text-align: center;
        font-size: 18px;
    }

    .portfolio-piece .text-container{
        margin-left: auto;
        margin-right: auto;
        width:80%;
        margin-top: 20px;
    }

    .portfolio-piece button {
        width: 50%;
    }

    .portfolio-piece button p{
        text-align: center;
    }

    .contact {
        position: relative;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        border-top: 2px solid black;
        width: 90%;
    }

    .contact h1 {
        display: inline;
        position: relative;
        top: -.65em;
        background: white;
        padding-left: 10px;
        padding-right: 10px;
    }

    .icon-links a {
        width: 25%;
        height: 25%;
    }

    .contact img {
        width: 20%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .contact p {
        display: block;
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .contact a {
        font-size: 20px;
    }
}

@media screen and (min-width: 520px) and (max-width: 1024px) {
    .navbar-name {
        font-size: 25px;
        bottom: -0px;
        left: 10%;
    }

    .head-icon{
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    .about-me-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        font-size: 20px;
    }

    .portfolio-piece img {
        margin-top: 20px;
        height: 80%;
        width: 80%;
    }

    .portfolio-piece p {
        font-size: 20px;
    }

    .portfolio-piece .text-container{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width:80%;
    }

    .portfolio-piece button {
        width: 60%;
    }

    .portfolio-piece button p{
        text-align: center;
    }

    .contact {
        position: relative;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        border-top: 2px solid black;
        width: 90%;
    }

    .contact h1 {
        display: inline;
        position: relative;
        top: -.65em;
        background: white;
        padding-left: 10px;
        padding-right: 10px;
    }

    .contact img {
        width: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .contact p {
        display: block;
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .contact a {
        font-size: 20px;
    }

    .links a, p {
        font-size: 18px;
    }
}

@media screen and (min-width: 1025px) {
    body {
        padding-top: 40px;
    }
    .dropdown {
        display: none;
    }

    .navbar {
        position: fixed;
        top: 0px;
        z-index: 5;
    }

    .navbar-name {
        box-sizing: border-box;
        vertical-align: middle;
        font-size: 35px;
        left: 10%;
    }

    .navigation {
        display: inline;
        float: inline-end;
        list-style-type: none;
        text-decoration: none;
    }

    ul.navigation li {

        display: inline;
        padding-right: 30px;
        bottom: -15px;
        right: 20%;
        list-style-type: none;
        text-decoration: none;

    }

    .about-me {
        margin-top: 100px;
    }
    .head-icon{
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 200px;
        height: 200px;
    }

    .about-me-container {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
        font-size: 22px;
    }

    .portfolio-divider{
        margin-top: 100px;
        width: 900px;
    }

    .portfolio-piece p {
        font-size: 22px;
    }

    .portfolio-piece img {
        margin-top: 20px;
        margin-bottom: -15px;
        width: 600px;
    }

    .text-container {
        width: 700px;
        margin-top: 40px;
        font-size: 22px;
    }

    .portfolio-piece button {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 300px;
    }

    .portfolio-piece button p{
        text-align: center;
    }

    .contact {
        position: relative;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        border-top: 2px solid black;
        width: 900px;
    }

    .contact h1 {
        display: inline;
        position: relative;
        top: -.65em;
        background: white;
        padding-left: 10px;
        padding-right: 10px;
    }

    .contact img {
        width: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .contact p {
        display: block;
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .links a, p {
        font-size: 24px;
    }
}